/*
Assan onepage style file
Version- 3.8
author - design_mylife
support - mylifedesign143@gmail.com
*/

@font-face {
  font-family: 'FontAwesome';
  src: url("/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),url("/fonts/fontawesome-webfont.woff2?v=4.7.0") format('woff2'),url("/fonts/fontawesome-webfont.woff?v=4.7.0") format('woff'),url("/fonts/fontawesome-webfont.ttf?v=4.7.0") format('truetype'),url("/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
/**et line icons**/
@font-face {
  font-family: 'et-line';
  src: url("../et-line-font/fonts/et-line.eot");
  src: url("../et-line-font/fonts/et-line.eot?#iefix") format("embedded-opentype"), url("../et-line-font/fonts/et-line.woff") format("woff"), url("../et-line-font/fonts/et-line.ttf") format("truetype"), url("../et-line-font/fonts/et-line.svg#et-line") format("svg");
  font-weight: normal;
  font-style: normal; }
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
@import "_variables.scss";
@import "_base.scss";
@import "_preloader.scss";
@import "_buttons.scss";
@import "_header-left.scss";
@import "_dropdown.scss";
@import "_hero.scss";
@import "_link-hovers.scss";
@import "_portfolio.scss";
@import "_pricing.scss";
@import "_team.scss";
@import "_cta-parallax.scss";
@import "_testimonials.scss";
@import "_custom-smartForm.scss";
@import "_footer.scss";


