/*
Landing pages
Author - Design_mylife
version - 1.0
support - mylifedesign143@gmail.com
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'FontAwesome';
  src: url("/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/**et line icons**/
@font-face {
  font-family: 'et-line';
  src: url("/et-line-font/fonts/et-line.eot");
  src: url("/et-line-font/fonts/et-line.eot?#iefix") format("embedded-opentype"), url("/et-line-font/fonts/et-line.woff") format("woff"), url("/et-line-font/fonts/et-line.ttf") format("truetype"), url("/et-line-font/fonts/et-line.svg#et-line") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
Basic of template
*/
html, body, .fullScreen {
  height: 100%; }

body {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
  letter-spacing: 0em;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden; }

button, input, optgroup, select, textarea {
  font-family: "Open Sans", sans-serif; }

button:focus {
  outline: 0 !important; }

a, .simple-hover img, button, .btn {
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

a {
  color: #5292bf;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: 0 !important;
    color: #666; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.3;
  color: #111; }

h4, .h4 {
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 1rem; }

hr {
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.small, small {
  font-size: 80%;
  font-weight: 400; }

ul, ol {
  margin: 0 0 1.5em 0; }

.tritary-font {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic; }

.base-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.font300 {
  font-weight: 300 !important; }

.font400 {
  font-weight: 400 !important; }

.font500 {
  font-weight: 600 !important; }

.font700 {
  font-weight: 700 !important; }

.font900 {
  font-weight: 900 !important; }

.label {
  display: inline-block;
  padding: 1px 7px;
  border-radius: 2px;
  font-size: 10px; }

.bg-faded {
  background: #F9F9F9; }

.badge-primary {
  background: #5292bf !important; }

.bg-primary {
  background: #5292bf !important;
  border-color: #5292bf; }

.bg-success {
  background: #5cb85c !important;
  border-color: #5cb85c; }

.bg-warning {
  background: #f0ad4e;
  border-color: #f0ad4e; }

.bg-info {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.bg-danger {
  background-color: #c9302c;
  border-color: #c9302c; }

.bg-dark {
  border-color: #333;
  background-color: #333 !important; }

.bg-white {
  background: #fff; }

.text-primary {
  color: #5292bf !important; }

.text-danger {
  color: #c9302c !important; }

.text-success {
  color: #5cb85c !important; }

.text-warning {
  color: #f0ad4e !important; }

.text-info {
  color: #5bc0de !important; }

.text-white {
  color: white !important; }

.text-dark {
  color: #222222 !important; }

.text-white-gray {
  color: rgba(255, 255, 255, 0.8) !important; }

.border-round {
  border-radius: 6px;
  -webkit-border-radius: 6px; }

.pos-relative {
  position: relative; }

.lead {
  font-weight: 300; }

strong, b {
  font-weight: 700; }

.fWidth {
  width: 100% !important; }

.oHidden {
  overflow: hidden !important; }

strong, b {
  font-weight: 700; }

.mr0 {
  margin-right: 0px !important; }

.pt0 {
  padding-top: 0 !important; }

.pt10 {
  padding-top: 10px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt80 {
  padding-top: 80px !important; }

.pt90 {
  padding-top: 90px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt60 {
  margin-top: 60px !important; }

.mt70 {
  margin-top: 70px !important; }

.mt80 {
  margin-top: 80px !important; }

.mt90 {
  margin-top: 90px !important; }

.mt100 {
  margin-top: 100px !important; }

.bg-default {
  background-color: #f7f7f7 !important; }

.bg-gray {
  background-color: #fbfbfb; }

.pd-card {
  padding: 40px 20px; }

.back-to-top {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  bottom: 10px;
  right: 10px;
  background: #f5f5f5;
  color: #333;
  line-height: 50px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, 15px, 0);
  -webkit-transform: translate3d(0, 15px, 0); }
  .back-to-top i {
    display: block;
    font-size: 25px;
    line-height: 50px;
    text-align: center; }
  .back-to-top:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    color: #333; }
  .back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0); }

/**preloader**/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.content-table {
  display: table;
  width: 100%;
  height: 100%; }
  .content-table .content-middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%; }
  .content-table .content-bottom {
    display: table-cell;
    vertical-align: bottom;
    width: 100%; }

.section-title {
  padding-bottom: 50px;
  position: relative; }
  .section-title:after {
    content: "";
    width: 1px;
    height: 50px;
    background-color: #5292bf;
    left: 50%;
    bottom: 0;
    position: absolute; }
  .section-title h3 {
    font-weight: 800;
    font-size: 2.2rem;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase; }
    .section-title h3:before {
      content: "";
      width: 40px;
      height: 5px;
      position: absolute;
      top: 0;
      left: 50%;
      background-color: #5292bf;
      margin-left: -20px; }
  .section-title.title-left h3:before {
    left: 0;
    margin-left: 0; }
  .section-title.title-left:after {
    left: 0; }

.section-subTitle {
  color: #999;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 400;
  display: block;
  margin-bottom: 15px; }

.center-img {
  display: block;
  margin: 0 auto; }

.shadow-card {
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

/***angle style**/
.angle-top, .angle-bottom {
  overflow: visible;
  position: relative; }

.angle-top:before {
  background: none repeat scroll 0 0 #fff;
  content: "";
  margin-top: -149px;
  min-height: 100px;
  position: absolute;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  width: 100%;
  z-index: 1; }

.angle-top.bg-dark:before {
  background-color: #333; }

.angle-top.bg-primary:before {
  background-color: #5292bf; }

.angle-top.bg-info:before {
  background-color: #5bc0de; }

.angle-top.bg-success:before {
  background-color: #5cb85c; }

.angle-top.bg-warning:before {
  background-color: #f0ad4e; }

.angle-top.bg-white:before {
  background-color: #fff; }

.bg-parallax {
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  overflow: hidden; }

.parallax-overlay:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0; }

.parallax-overlay .container {
  position: relative;
  z-index: 1; }

.parallax-overlay.overlay-primary:after {
  background-color: rgba(82, 146, 191, 0.75); }

/*
Responsive Utilites Style (This css is removed from beta version)
*/
.hidden-xs-up {
  display: none !important; }

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

.hidden-xl-down {
  display: none !important; }

.visible-print-block {
  display: none !important; }

/*
Button styles
*/
/*
Buttons
*/
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  font-size: .8rem; }

.btn {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .05rem;
  font-size: .8rem;
  font-family: "Open Sans", sans-serif;
  padding: 10px 25px 10px !important;
  text-transform: uppercase; }
  .btn i {
    display: inline-block;
    margin-right: 8px; }
  .btn.btn-rounded {
    border-radius: 100px; }
  .btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .3s; }
  .btn:hover, .btn:focus {
    box-shadow: none;
    outline: 0 !important; }
    .btn:hover:before, .btn:focus:before {
      transition: all .3s;
      z-index: -1; }
  .btn.btn-link {
    border: 0px;
    padding: 0px !important; }
  .btn.btn-sm {
    padding: 9px 15px 9px !important;
    font-size: .6rem; }
  .btn.btn-lg {
    padding: 16px 30px 16px !important;
    font-size: .95rem; }
  .btn.btn-link {
    color: #5292bf;
    text-transform: capitalize; }
    .btn.btn-link:after {
      font-family: 'FontAwesome';
      content: "\f101";
      margin-left: 5px;
      font-size: 12px; }
    .btn.btn-link:hover {
      text-decoration: none;
      color: #999; }

.btn-white {
  background-color: #fff;
  color: #333; }

.btn-white-outline {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff; }
  .btn-white-outline:hover, .btn-white-outline:focus {
    color: #333;
    border-color: #fff; }
    .btn-white-outline:hover:before, .btn-white-outline:focus:before {
      width: 100%;
      background-color: #fff; }

.btn-outline-primary {
  border: 2px solid #5292bf;
  background-color: transparent;
  color: #5292bf !important; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: #fff !important;
    border-color: #5292bf;
    background-color: transparent; }
    .btn-outline-primary:hover:before, .btn-outline-primary:focus:before, .btn-outline-primary:active:before {
      width: 100%;
      background-color: #5292bf; }

.btn-outline-info {
  border: 2px solid #5bc0de;
  background-color: transparent;
  color: #5bc0de; }
  .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
    color: #fff;
    border-color: #5bc0de;
    background-color: transparent; }
    .btn-outline-info:hover:before, .btn-outline-info:focus:before, .btn-outline-info:active:before {
      width: 100%;
      background-color: #5bc0de; }

.btn-outline-info {
  border: 2px solid #5bc0de;
  background-color: transparent;
  color: #5bc0de; }
  .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
    color: #fff;
    border-color: #5bc0de;
    background-color: transparent; }
    .btn-outline-info:hover:before, .btn-outline-info:focus:before, .btn-outline-info:active:before {
      width: 100%;
      background-color: #5bc0de; }

.btn-outline-success {
  border: 2px solid #5cb85c;
  background-color: transparent;
  color: #5cb85c; }
  .btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    color: #fff;
    border-color: #5cb85c;
    background-color: transparent; }
    .btn-outline-success:hover:before, .btn-outline-success:focus:before, .btn-outline-success:active:before {
      width: 100%;
      background-color: #5cb85c; }

.btn-outline-danger {
  border: 2px solid #c9302c;
  background-color: transparent;
  color: #c9302c; }
  .btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
    color: #fff;
    border-color: #c9302c;
    background-color: transparent; }
    .btn-outline-danger:hover:before, .btn-outline-danger:focus:before, .btn-outline-danger:active:before {
      width: 100%;
      background-color: #c9302c; }

.btn-outline-warning {
  border: 2px solid #f0ad4e;
  background-color: transparent;
  color: #f0ad4e; }
  .btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active {
    color: #fff;
    border-color: #f0ad4e;
    background-color: transparent; }
    .btn-outline-warning:hover:before, .btn-outline-warning:focus:before, .btn-outline-warning:active:before {
      width: 100%;
      background-color: #f0ad4e; }

.btn-outline-secondary {
  border: 2px solid #ccc;
  background-color: transparent;
  color: #ccc; }
  .btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
    color: #fff;
    border-color: #ccc;
    background-color: transparent; }
    .btn-outline-secondary:hover:before, .btn-outline-secondary:focus:before, .btn-outline-secondary:active:before {
      width: 100%;
      background-color: #ccc; }

/**fill buttons**/
.btn-primary, .btn-success, .btn-warning, .btn-danger, .btn-info, .btn-secondary, .btn-dark {
  box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.18);
  border: 0px; }
  .btn-primary:hover, .btn-success:hover, .btn-warning:hover, .btn-danger:hover, .btn-info:hover, .btn-secondary:hover, .btn-dark:hover {
    border: 0px;
    box-shadow: 0 0.05em 1em rgba(0, 0, 0, 0.18); }

.btn-secondary {
  background: #f5f5f5;
  box-shadow: none; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border: 0px;
    color: #333;
    box-shadow: none; }

.btn-primary {
  background: #5292bf;
  color: #fff !important; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #5292bf;
    color: #fff; }

.btn-dark {
  background: #222;
  color: #fff; }
  .btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background: #222;
    color: #fff; }

.btn-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center; }
  .btn-circle i {
    display: block;
    line-height: 80px;
    margin: 0 auto;
    font-size: 35px; }
  .btn-circle .btn-primary i, .btn-circle .btn-success i, .btn-circle .btn-warning i, .btn-circle .btn-danger i, .btn-circle .btn-info i {
    color: #fff; }

.icon-sm-rounded {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block !important;
  text-align: center;
  border-radius: 50%;
  background: #5292bf;
  color: #fff; }

/****************

SOCIAL BUTTONS

**********************/
/**social icons default size**/
.social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon:hover {
  border-color: transparent; }

.social-icon i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 40px;
  position: relative; }

.social-icon i:last-child {
  color: #FFF !important; }

.social-icon:hover i:first-child {
  margin-top: -40px; }

/***social icons lg (big)***/
.social-icon-lg {
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon-lg:hover {
  border-color: transparent; }

.social-icon-lg i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 60px;
  position: relative; }

.social-icon-lg i:last-child {
  color: #FFF !important; }

.social-icon-lg:hover i:first-child {
  margin-top: -60px; }

/***social icons small***/
.social-icon-sm {
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon-sm:hover {
  border-color: transparent; }

.social-icon-sm i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  position: relative; }

.social-icon-sm i:last-child {
  color: #FFF !important; }

.social-icon-sm:hover i:first-child {
  margin-top: -30px; }

si-border {
  border: 1px solid #AAA !important; }

.si-border-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-dark-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray {
  background: #f3f3f3;
  border: 0px; }

.si-dark {
  background-color: #333;
  border: 0px !important;
  color: #fff !important; }

/**icons hover colored**/
.si-colored-facebook, .si-facebook:hover {
  background-color: #3B5998 !important; }

.si-colored-twitter, .si-twitter:hover {
  background-color: #00ACEE !important; }

.si-colored-google-plus, .si-g-plus:hover {
  background-color: #DD4B39 !important; }

.si-colored-skype, .si-skype:hover {
  background-color: #00AFF0 !important; }

.si-linkedin:hover, .si-colored-linkedin {
  background-color: #0E76A8 !important; }

.si-pin:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-rss:hover, .si-colored-rss {
  background-color: #EE802F !important; }

.si-pinterest:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-tumblr:hover, .si-colored-tumblr {
  background-color: #34526F !important; }

.si-vimeo:hover, .si-colored-vimeo {
  background-color: #86C9EF !important; }

.si-digg:hover, .si-colored-digg {
  background-color: #191919 !important; }

.si-instagram:hover, .si-colored-instagram {
  background-color: #3F729B !important; }

.si-flickr:hover, .si-colored-flickr {
  background-color: #FF0084 !important; }

.si-paypal:hover, .si-colored-paypal {
  background-color: #00588B !important; }

.si-yahoo:hover, .si-colored-yahoo {
  background-color: #720E9E !important; }

.si-android:hover, .si-colored-andriod {
  background-color: #A4C639 !important; }

.si-appstore:hover, .si-colored-apple {
  background-color: #000 !important; }

.si-dropbox:hover {
  background-color: #3D9AE8 !important; }

.si-dribbble:hover, .si-colored-dribbble {
  background-color: #EA4C89 !important; }

.si-soundcloud:hover, .si-colored-soundcoloud {
  background-color: #F70 !important; }

.si-xing:hover, .si-colored-xing {
  background-color: #126567 !important; }

.si-phone:hover, .si-colored-phone {
  background-color: #444 !important; }

.si-behance:hover, .si-colored-behance {
  background-color: #053eff !important; }

.si-github:hover, .si-colored-github {
  background-color: #171515 !important; }

.si-stumbleupon:hover, .si-colored-stumbleupon {
  background-color: #F74425 !important; }

.si-email:hover, .si-colored-email {
  background-color: #6567A5 !important; }

.si-wordpress:hover, .si-colored-wordpress {
  background-color: #1E8CBE !important; }

.circle-button {
  display: inline-block;
  vertical-align: middle; }
  .circle-button span {
    vertical-align: middle;
    display: inline-block; }

.circle-icon-button {
  width: 3.92857rem;
  height: 3.92857rem;
  border-radius: 50%;
  font-size: 1.28571rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }
  .circle-icon-button > i {
    position: relative;
    top: 50%;
    display: block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    padding-left: 3px;
    padding-top: 3px; }

/*
Navbar style
*/
.navbar-nav .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .5px; }

.navbar-nav .btn.btn-primary {
  color: #fff; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; }
  .navbar-nav .btn.btn-primary {
    margin-left: 1.5rem; } }

/*
Footer style
*/
.footer {
  padding: 30px 0; }
  .footer .list-inline-item {
    padding-left: 10px; }
    .footer .list-inline-item > a {
      color: #999; }
      .footer .list-inline-item > a:hover {
        text-decoration: underline; }

.hero-product {
  padding-top: 150px;
  padding-bottom: 50px; }
  .hero-product h2 {
    color: #fff;
    font-weight: 400; }
