﻿
<div id="preloader">
    <div id="preloader-inner"></div>
</div><!--/preloader-->

<section id="home" class="bg-parallax fullscreen parallax-overlay" data-jarallax-video="https://youtu.be/dUFNpTDYWYc" data-jarallax-orignal-styles="null">
    <div class="content-table">
        <div class="content-middle pt80 ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 ml-auto mr-auto text-center">
                        <h2 class="hero-big-text text-white">Velkommen til Nedenunder!</h2>
                        <p class="lead text-white-gray">
                            Studenterbaren på Syddansk Universitet
                        </p>
                        <div class="circle-button">
                            <a href="#about" data-scroll class="btn btn-white-outline btn-lg btn-rounded">Klik her!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero inner-->
    </div><!--parallax hero-->
    <div class="mouse-down"><a data-scroll href="#about"><i class="fa fa-angle-down fa-3x"></i></a></div>
</section>
<!--intro section end-->
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-nav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsspy" aria-controls="navbarsspy" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" data-scroll href="#home"><img src="images/logo_big.png" alt="" style="max-height: 50px; max-width: 250px;"></a>
        <div class="collapse navbar-collapse" id="navbarsspy">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a data-scroll class="nav-link active" href="#home">home</a></li>
                <li class="nav-item"><a data-scroll class="nav-link" href="#about">Om os</a></li>
                <li class="nav-item"><a data-scroll class="nav-link" href="#news">Nyheder</a></li>
                <li class="nav-item"><a data-scroll class="nav-link" href="#socialmedia">Sociale Medier</a></li>
                <li class="nav-item"><a data-scroll class="nav-link" href="#sponsors">Sponsorer</a></li>
                <li class="nav-item"><a data-scroll class="nav-link" href="#contact">Kontakt</a></li>
            </ul>
        </div>
        <ul class="float-right navbar-nav hidden-md-down">
            <li class="nav-item"><a href="http://eepurl.com/vlwq5" target="_blank" class="nav-link btn btn-rounded btn-primary">Bliv medlem</a></li>
        </ul>
    </div>
</nav>
<section id="about" class="pt90 pb50">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 mb40">
                @*<img src='images/logo_big.png' alt='' class='img-fluid center-img shadow-card mb30'>*@
                <div class="section-title title-left mb40 text-left">
                    <span class="section-subTitle">Velkommen til Nedenunder - Studenterbaren på SDU</span>
                    <h4 class='mb0 h3 font300 mb20'>Nedenunder - stedet hvor studie bliver til velvære, hvor pensum glemmes og tømmermænd skabes!</h4>
                    <p class="lead">
                        Her møder du alt fra de store talnørder til sprogfreaken. <br/>
                        Vi serverer dejlig og billig øl i hyggelige omgivelser! (PS. øllene er naturligvis fra Albani!)
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</section><!--section end about-->

<section id="news" class="bg-faded pt90 pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center mb30">
                <div class="section-title">
                    <h3 class="mb0">Nyheder</h3>
                </div>
            </div>
        </div>
        <div class='row no-margin'>
            <div class='col-md-4 mb40'>
                <img src='images/logo_square.png' alt='' class='img-fluid center-img shadow-card mb30' style="height: 230px; width: 600px;">
                <h5 class='text-uppercase'>Det sker:</h5>
                <p>
                    Du kan følge din fredagsbars aktiviteter på vores <a href="https://www.facebook.com/detskerNedenunder/" target="_blank"> Facebookside</a>
                </p>
            </div>
            <div class='col-md-4 mb40'>
                <img src='images/logo_square.png' alt='' class='img-fluid center-img shadow-card mb30' style="height: 230px; width: 600px;">
                <h5 class='text-uppercase'>Nyt fra generalforsamlingen</h5>
                <p>
                    Se nedenstående for at blive opdateret på Nedenunders økonomi samt vedtægter <br />
                    <a href="/files/Vedtægter.pdf" target="_blank">Vedtægter anno 2019</a> <br />
                    <a href="/files/Årsrapport-2018.pdf" target="_blank">Regnskab 2018</a> <br />
                    <a href="/files/Budget-2019.pdf" target="_blank">Budget 2019</a> <br />
                </p>
            </div>
            <div class='col-md-4 mb40'>
                <img src='images/logo_square.png' alt='' class='img-fluid center-img shadow-card mb30' style="height: 230px; width: 600px;">
                <h5 class='text-uppercase'>Bliv medlem</h5>
                <p>
                    Du kan nu melde dig ind i baren, og dermed modtage nyhedsbreve, info om arrangementer og deltage i generalforsamlinger.
                </p>
                <p><a href="http://eepurl.com/vlwq5" target="_blank">Klik her for at melde dig ind</a></p>
            </div>

        </div>
    </div>
</section><!--news-->

<section id="socialmedia" class="pt90 pb60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center mb30">
                <div class="section-title">
                    <h3 class="mb0">Her kan du finde os på de sociale medier</h3>
                </div>
            </div>
        </div>
        <div class="row no-margin">
            <!-- Snapchat? other? -->
            <div class="col-lg-3 col-md-6 mb30">
                @*<div class="team-card">
                        <a href="#" target="_blank">
                            <img src="images/team1.jpg" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Instagram</h4>
                                </div>
                            </div>
                        </a>
                    </div>*@
            </div><!--/col-->

            <div class="col-lg-3 col-md-6 mb30">
                <div class="team-card">
                    <a href="https://www.facebook.com/detskerNedenunder/" target="_blank">
                        <img src="images/facebook.jpg" alt="" class="img-fluid">
                        <div class="team-overlay align-items-center">
                            <div class="team-detail">
                                <h4>Facebook</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!--/col-->
            <div class="col-lg-3 col-md-6 mb30">
                <div class="team-card">
                    <a href="https://www.instagram.com/nedenundersdu/" target="_blank">
                        <img src="images/instagram.png" alt="" class="img-fluid">
                        <div class="team-overlay align-items-center">
                            <div class="team-detail">
                                <h4>Instagram</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div><!--/col-->
            <!-- Youtube? -->
            <div class="col-lg-3 col-md-6 mb30">
                @*<div class="team-card">
                        <a href="#" target="_blank">
                            <img src="images/team1.jpg" alt="" class="img-fluid">
                            <div class="team-overlay align-items-center">
                                <div class="team-detail">
                                    <h4>Instagram</h4>
                                </div>
                            </div>
                        </a>
                    </div>*@
            </div><!--/col-->
        </div>
    </div>
</section><!--team-->
<section id="sponsors" class="bg-faded pt90 pb60">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mr-auto ml-auto text-center">
                <div class="center-title mb60">
                    <h2>Sponsorer</h2>
                    <p>Uden disse kunne vi ikke være til!</p>
                </div>
            </div>
        </div>
        <div class="row sponsors-row">
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <a href="#">
                    <img src="" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <a href="#">
                    <img src="" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <a href="https://www.sdu.dk">
                    <img src="images/sdu.png" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <a href="https://www.albani.dk">
                    <img src="images/albani.svg" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <a href="#">
                    <img src="" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <a href="#">
                    <img src="" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</section><!--sponsors-->

<section id="contact" class="pt90 pb50">
    <div class="container">
        <div class="row">
            <div class="col-md-5 pb40">
                <div class="section-title title-left mb30">
                    <h3 class="mb0">
                        Kontakt
                    </h3>
                </div>
                <ul class="list-unstyled contact-info">
                    <li>
                        <i class="fa fa-home"></i>
                        Campusvej 55<br>
                        5230 Odense M<br>
                        Indgang C
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="#">+45 28 91 74 75</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:bartiformand@gmail.com">bartiformand@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 offset-md-1 pb40">
                <h3 class="font300 mb30">Har du spørgsmål? Så kontakt os!</h3>
                <div class="smart-wrap">
                    <div class="smart-forms smart-container wrap-2">
                        <form method="post" action="@Url.Action("PostMessage")" id="smart-form">
                            <div class="form-body">
                                <div class="section">
                                    <label class="field prepend-icon">
                                        <input type="text" name="name" id="sendername" class="gui-input" placeholder="Indtast navn">
                                        <span class="field-icon"><i class="fa fa-user"></i></span>
                                    </label>
                                </div><!-- end section -->
                                <div class="section">
                                    <label class="field prepend-icon">
                                        <input type="email" name="email" id="emailaddress" class="gui-input" placeholder="Indtast e-mail">
                                        <span class="field-icon"><i class="fa fa-envelope"></i></span>
                                    </label>
                                </div><!-- end section -->
                                <div class="section">
                                    <label class="field prepend-icon">
                                        <input type="text" name="subject" id="sendersubject" class="gui-input" placeholder="Indtast emne">
                                        <span class="field-icon"><i class="fa fa-lightbulb-o"></i></span>
                                    </label>
                                </div><!-- end section -->
                                <div class="section">
                                    <label class="field prepend-icon">
                                        <textarea class="gui-textarea" id="sendermessage" name="message" placeholder="Indtast besked"></textarea>
                                        <span class="field-icon"><i class="fa fa-comments"></i></span>
                                        <span class="input-hint"> <strong>Hint:</strong> Hold venligst din besked til maksimum 300 bogstaver</span>
                                    </label>
                                </div><!-- end section -->
                                <div class="result"></div><!-- end .result  section -->
                            </div><!-- end .form-body section -->
                            <div class="form-footer">
                                <button type="submit" data-btntext-sending="Sending..." class="button btn btn-primary">Indsend</button>
                                <button type="reset" class="button btn-secondary"> Annuller </button>
                            </div><!-- end .form-footer section -->
                        </form>
                    </div><!-- end .smart-forms section -->
                </div><!-- end .smart-wrap section -->
            </div>
        </div>
    </div>
</section>

<footer class='footer' style="background-color: #212121">
    <div class='container'>
        <div class='row'>
            <div class='col-md-12 text-md-center text-center'>
                <span>&copy; Copyright 2019. <a href="http://www.eventii.dk">eventii - Events your way</a></span>
            </div>
        </div>
    </div>
</footer>
<!--back to top-->
<a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="fa fa-angle-up"></i></a>
